.colors-container{
    display: block;
    
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  .tbl {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
  }

  .clr-line{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.6);
  }
  .clr-line2{
    display: flex;
    align-items: flex-start;
  }

  .cln1{
    flex: 0 0 30%;
  }
  
  .cln2{
    flex: 1 1 70%;
  }
   .cln1.clr {
    line-height: 20px;
    margin-top: 5px;
  }
  .cln1.clr > .main {
    font-weight: 700;
    color: rgb(51, 51, 51);
  }
   .cln1.clr > .sub {
    color: rgba(51, 51, 51, 0.8);
  }

  .cln2.clr{
    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
  }
  .cont{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    position: relative;
    margin-bottom: 30px;
  }
  .cont > .main {
        border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden;
  }
   .cont > .main > .one {
         flex: 1 1 0%;
   }
   .cont > .sub {
     display: flex;
    flex-direction: row;
  }
     .cont > .sub > .one{
    flex: 1 1 0%;
    text-align: center;
    font-family: "Operator Mono", "Fira Code Retina", "Fira Code", FiraCode-Retina, "Andale Mono", "Lucida Console", Consolas, Monaco, monospace;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    color: rgba(51, 51, 51, 0.6);
  }
  .cont > .sub > .one > div 
  {display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;}

